<html>

<head>
	<title>Jumpstart</title>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
	<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

  <style>
.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

  </style>
</head>

<body>
  <img src = 'https://files.slack.com/files-pri/T01470QP926-F019K6H58HL/6.png' style = 'width: 20%'>
	<br> 
	<br> 
	<div class="ui grid">
  <div class="four wide column">
    <div class="ui vertical fluid tabular menu">
      <p class="item" >Welcome Jumpstart</p>
      <a class="item" href = "/">
        Home <i class="home icon"></i>
      </a>
      <a class="item" href = "/sample">
        Sample Fields <i class="key icon"></i>
      </a>
      <a class="item" href = "/tutors">
        Tutors <i class="users icon"></i>
      </a>
       <a class="item" href = "/excel">
        Learn the language of your field <i class="thumbs up outline icon"></i>
      </a>
      <a class="item" href = "/chat">
        Chat <i class="comments outline icon"></i>
      </a>

      <br>
      <br>
      <br>
      <a class="item" href = "/pricing">
        Pricing <i class="money bill outline icon"></i>
      </a>

      <a class="item" href = "/soon">
        Coming Soon <i></i>
      </a>
      
      
    </div>
  </div>
  <div class="twelve wide stretched column">

   


 