<%- include ("partials/header.ejs") %>
<img src = 'https://files.slack.com/files-pri/T01470QP926-F019S4F7JHH/2459273c-921d-4c5a-b665-ddaa7202c9cb.jpeg' style = 'width: 30%''>

<h2>Business <a class="ui teal tag label">Featured</a></h2>

<p>Learn The Global Language Of Your Field</p>

<h5><a>English</a></h5>
<h5><a>Russian</a></h5>

<h2>Computer Science</h2>

<h5><a>English</a></h5>
<h5><a>Russian</a></h5>



<%- include ("partials/footer.ejs") %>