<%- include ("partials/header.ejs") %>
<center>

<br>
<br>
<br>
<h1 style = 'color: blue'>Start Your Journey</h1>



<div class="ui buttons" style="text-align: center" >
  <a href = '/excel'><button class="ui inverted primary button" >Learn a subject in another language</button></a>
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  <a href = '/sample'><button class="ui inverted primary button">Find Your Passion</button></a>
</div>
<br>
<br>
<br>
<img src = "https://files.slack.com/files-pri/T01470QP926-F01A4GW73FT/passion_circle.png" style = 'width: 70%; border-radius: 40%;'>

</center>

<%- include ("partials/footer.ejs") %>