<%- include ("partials/header.ejs") %>
<h3>Medicine</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/-5LkVYynjUI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<%- include ("partials/footer.ejs") %>