<%- include ("partials/header.ejs") %>
	<table class="ui celled table">
  <thead>
    <tr><th>Free</th>
    <th>Premium</th>
    
  </tr></thead>
  <tbody>
    <tr>
      <td data-label="Name">Sample Fields</td>
      <td data-label="Age">Everything From Free</td>

    </tr>
    <tr>
      <td data-label="Name">Tutors</td>
      <td data-label="Age">Chat Room</td>

    </tr>
    <tr>
      <td data-label="Name"></td>
      <td data-label="Age">Learn the language of your field</td>
      
    </tr>

    <tr>
      <td data-label="Name"></td>
      <td data-label="Age">More Resources With Tutor</td>
      
    </tr>
  </tbody>
</table>
<%- include ("partials/footer.ejs") %>