<%- include ("partials/header.ejs") %>




<p><strong>Chrome Extension</strong> - Work with your tutor around the web with our resourse</p>
<p><strong>Live Chat</strong> - Work with a group of people discussing videos and websites around the internet</p>




<%- include ("partials/footer.ejs") %>