<%- include ("partials/header.ejs") %>
<h3 style="color: blue">Sample Some Classes And Find What You're Interested In!</h3>

<div class="ui card" style = "margin-top: 3%; margin-bottom: 3%">
  <div class="content">
    <div class="header">Engineering  <i class="rocket icon"></i></div>
   
    <a class="ui blue ribbon label">Featured</a>
  </div>
  <div class="content">

    <h4 class="ui sub header"></h4>
    <div class="ui small feed">
      <div class="event">
        <div class="content">
          <div class="summary">
             <p>Engineering is a broad work category that refers to jobs that use science and mathematics to solve a variety of problems.</p>
          </div>
        </div>
      </div>
    
    </div>
  </div>
  <div class="extra content">
    <button class="ui button" ><a href = '/engineering'>Join</a></button>
  </div>


  <div class="ui card" style = "margin-top: 3%; margin-bottom: 3%">
  <div class="content">
    <div class="header">Computer Science  <i class="laptop icon"></i></div>
  </div>
  <div class="content">
    <h4 class="ui sub header"></h4>
    <div class="ui small feed">
      <div class="event">
        <div class="content">
          <div class="summary">
             <p>Computer Science is the study of computers and computational systems</p>
          </div>
        </div>
      </div>
    
    </div>
  </div>
  <div class="extra content">
    <button class="ui button"><a href = '/computerSci'>Join</a></button>
  </div>


 <div class="ui card" style = "margin-top: 3%; margin-bottom: 3%">
  <div class="content">
    <div class="header">Medicine  <i class="heartbeat icon"></i></div>
  </div>
  <div class="content">
    <h4 class="ui sub header"></h4>
    <div class="ui small feed">
      <div class="event">
        <div class="content">
          <div class="summary">
             <p>Medicine is the field of health and healing. </p>
          </div>
        </div>
      </div>
    
    </div>
  </div>
  <div class="extra content">
    <button class="ui button"><a href = '/medicine'>Join</a></button>
  </div>


<div class="ui card" style = "margin-top: 3%; margin-bottom: 3%">
  <div class="content">
    <div class="header">Business <i class="building icon"></i></div>
  </div>
  <div class="content">
    <h4 class="ui sub header"></h4>
    <div class="ui small feed">
      <div class="event">
        <div class="content">
          <div class="summary">
            <a class="ui red tag label">Upcoming</a>
          </div>
        </div>
      </div>
    
    </div>
  </div>
  <div class="extra content">
    
  </div>


<%- include ("partials/footer.ejs") %>